ENV=production
PINGOPHER_HOST=0.0.0.0
PINGOPHER_PORT=8080
PINGOPHER_DB_TYPE=sqlite
PINGOPHER_DB_PATH=pingopher.db
PINGOPHER_REDIS_HOST=pingopher_redis
PINGOPHER_REDIS_PORT=6379
PINGOPHER_REDIS_PASSWORD=
PINGOPHER_MAX_RETRY_INTERVAL=900
